<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.cloud.platform.service.mapper.CollectMapper">

    <!--status 0代表可用状态-->
    <select id="getCollectCourse" resultType="com.platform.cloud.platform.service.entity.Course">
        SELECT t.* FROM tb_course t RIGHT JOIN
            (SELECT * FROM tb_collect
            WHERE create_by = #{userId} AND status = ${0}
            ORDER BY create_date DESC LIMIT #{num}) t1
        ON t.course_id = t1.course_id
    </select>


</mapper>
