<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.cloud.platform.service.mapper.CourseMapper">

    <!--status 0代表可用状态-->
    <select id="getCourseWithHistory" parameterType="long" resultType="com.platform.cloud.platform.service.entity.Course">
        select c.course_id,c.course_code,
               c.course_name,c.video,
               h.last_stamp as last_stamp,
               c.structure_id,c.teacher,
               c.play_num,c.duration,
               c.sequence,c.description,
               c.cover,c.price,
               c.exam_id,c.create_by,c.create_date
        from tb_course c left join
             (SELECT t2.course_id,t2.last_stamp from (SELECT course_id,max(create_date) create_date
                                FROM tb_history where create_by = #{userId} GROUP BY course_id) t1
                    LEFT JOIN tb_history t2
                    ON t1.course_id = t2.course_id AND t1.create_date = t2.create_date) h
        on c.course_id = h.course_id
        where c.structure_id = #{structureId} and c.status = ${0}
        ORDER BY sequence asc
    </select>

    <select id="getLatestCourse" parameterType="long" resultType="com.platform.cloud.platform.service.entity.Course">
        select c.course_id,c.course_code,
               c.course_name,c.video,
               h.last_stamp as last_stamp,
               c.structure_id,c.teacher,
               c.play_num,c.duration,
               c.sequence,c.description,
               c.cover,c.price,
               c.exam_id,c.create_by,c.create_date
        from tb_course c right join
             tb_history h
             on c.course_id = h.course_id
        where c.structure_id = #{structureId} and h.create_by = #{userId} and c.status = ${0}
        ORDER BY h.create_date desc limit 1
    </select>

</mapper>
