<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.cloud.platform.service.mapper.HistoryMapper">

    <!--is_valid 0代表可用状态-->
    <select id="getHistoryCourse" resultType="com.platform.cloud.platform.service.entity.Course">
        SELECT t3.course_id,t3.course_name,
               t1.last_stamp as last_stamp,
               t3.structure_id,t3.teacher,
               t3.play_num,t3.duration,
               t3.sequence,t3.`status`,
               t1.create_date as create_date,
               t3.cover
        FROM tb_history t1
            RIGHT JOIN (SELECT course_id,max(create_date) create_date FROM tb_history GROUP BY course_id) t2
            ON t1.course_id = t2.course_id AND t1.create_date = t2.create_date
            LEFT JOIN tb_course t3
            ON t1.course_id = t3.course_id
        WHERE t1.create_by = #{userId} AND t1.is_valid = ${0} ORDER BY t1.create_date DESC
        LIMIT #{num}
    </select>

    <insert id="addHistory">
        INSERT INTO tb_history(course_id,last_stamp,create_by,create_date) values
            <foreach collection="hisList" item="history" separator=",">
                (#{history.courseId},#{history.lastStamp},#{userId},#{history.createDate})
            </foreach>
    </insert>

</mapper>
