<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.cloud.platform.service.mapper.UserMapper">
    <select id="findByDate" parameterType="java.util.Date" resultType="com.platform.cloud.platform.service.entity.User">
        select * from tb_user where create_date = #{date}
    </select>

    <select id="findCommentUser" resultType="com.platform.cloud.platform.service.entity.User">
        select u.* from tb_user u right join tb_feedback f on u.user_id = f.create_by
    </select>

</mapper>