# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\09_Practise\IDEA_Project\LearnPlatform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
